html, body,
div, span, section, article, p,
ol, ul, li,
img, figure,
h1, h2, h3, h4, h5, h6 {
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  outline  : 0 none;
 }


html, body {
	overflow: auto;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	height: 100%;

	background-color: #2E2E2E;

    color: #555555;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	position: relative;
    padding: 0;
    margin: 0 auto 0 auto;
    clear: both;
}

input {
    border-radius: 15px;
    border: solid 1px #EDA600;
    box-shadow: inset 1px 1px 2px 2px #959487;
    font-size: 1em;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}

a {
    color: #00B7FF;
    font-family: 'Homespun', Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}

a:hover {
    color: #026B95;
}

#play {
    margin: 40px;
    text-align: center;
    color: #00B7FF;
    font-family: 'Homespun', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#images {
    display: inline-block;
    width : 100%;
    height: 280px;
    position: relative;
}

#images img{
    width: 33%;
    height: 20%;
    float: left;
    position: absolute;
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url('fonts/ArcadeClassic.ttf');
}

@font-face {
    font-family: 'Homespun';
    src: url('fonts/homespun.ttf');
}

.container {
    background: none no-repeat scroll center top #FFFFFF;
    position: relative;
    height: auto;
    margin: 0 auto 0 auto;
    min-height: 100%;
    clear:both;
    width: 75%;
    overflow:hidden;
    z-index: 10;
}

article {
    padding: 30px;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    vertical-align: center;
}

section {
    padding: 10px;
}

.foot {
    bottom: -100px;
    font-size: 1.2em;
    font-family: 'Homespun', Arial, Helvetica, sans-serif;
    text-shadow: 3px 2px 3px #333333;
    filter: dropshadow(color=#333333, offx=3, offy=2);
    padding-top: 25px;
}

.footer {
    background: center bottom no-repeat;
    background-color: #3D6900;
    z-index: 20;
    color: white;
    /*display: inline-block;*/
    bottom     : 0;
    text-align : center;
    width      : 100%;
    height     : 80px;
    margin: -80px auto 0 auto;
    clear: both;
    box-shadow: 1px -1px 2px 2px #555555;
}

.header {
    background: center top no-repeat;
    background-color: #3D6900;
    background: #385e00; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4NWUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzY1ODcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2EzMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #385e00 0%, #658700 51%, #b7a30e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#385e00), color-stop(51%,#658700), color-stop(100%,#b7a30e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #385e00 0%,#658700 51%,#b7a30e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #385e00 0%,#658700 51%,#b7a30e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #385e00 0%,#658700 51%,#b7a30e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #385e00 0%,#658700 51%,#b7a30e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385e00', endColorstr='#b7a30e',GradientType=0 ); /* IE6-8 */

    z-index: 20;
    color: white;
    /*display: inline-block;*/
    font-family: 'ArcadeClassic', Helvetica, Arial, Sans-Serif;
    height: 150px;
    top : 0;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;

    box-shadow: 1px 1px 2px 2px #555555;
}

.title {
    font-size: 4em;
    font-family: 'ArcadeClassic', Arial, Helvetica, sans-serif;
    text-shadow: 3px 2px 3px #333333;
    filter: dropshadow(color=#333333, offx=3, offy=2);
    font-weight: normal;
    line-height:50px;
    margin: 50px 0 0px 100px;
    padding: 0 0 7px 0;
    position: absolute;
    text-align: left;
    width: 100%;
}

iframe {
    width: 500px;
    height: 350px;
}

#description {
    font-family: 'Homespun', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    text-shadow: 2px 1px 2px #959487;
    filter: dropshadow(color=#959487, offx=2, offy=1);
    color: #2E2E2E;
}

#rules {
    text-align: left;
    padding-top: 30px;
}

.question {
    text-align: center;
}

#response {
    width: 100px;
}

.solution {
    padding-top: 30px;
}

#answer {
    width: 100%;
    margin: 0;
}
